{% extends 'templates/home.html' %}
{% load static %}
{% block main %} 
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Address</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Pan Number</th>
            <th scope="col">Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for i in user_profile %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.firstname}}</td>
            <td>{{i.lastname}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.address}}</td>
            <td>{{i.age}}</td>
            <td>{{i.email}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.pannumber}}</td>
            <td><a href="/edit/{{i.id}}" class="btn btn-primary" id = '{{i.id}}'>Edit</a>
              <a href="/delete/{{i.id}}" class="btn btn-danger" id = '{{i.id}}'>Delete</a>
          </tr>
          {% endfor %}
 
        </tbody>
      </table>
</body>
{% endblock main %}